.errors {
    margin: spacing(6) auto 0;
    &__list {
        padding: 0;
        margin-bottom: 0;
    }
    &__single {
        list-style-type: none;
        flex-grow: 1;
        &__link {
            text-decoration: none;
            display: block;
            padding: 16px 0px;
            text-transform: capitalize;
            margin: 0 10px;
            border-bottom: 2px solid $accessible-red;
            @include hover($accessible-red);
        }
    }
}
