.label {
    position: relative;
    font-family: $main-font;
    padding: 10px 0;
    display: block;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0;
    &--floating {
        padding: 28px 0 10px;
        span {
            position: absolute;
            transition: all 0.3s ease-in-out;
            color: #393e41;
            &.sink {
                top: calc(100% + 10px);
            }
            &.float {
                color: black;
                top: 10px;
            }
        }
    }
}
