.selections {
    &__list {
        padding: 0;
        margin: 0;
    }
    &__single {
        list-style-type: none;
        flex-grow: 1;
        &.col-md-4:nth-child(3n + 1) {
            .selections__single__link {
                margin-left: 0;
            }
        }
        &__link {
            text-decoration: none;
            line-height: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: spacing(2) 0px;
            text-align: center;
            text-transform: capitalize;
            margin: 0 10px;
            border-bottom: 2px solid $accessible-red;
            @include hover($accessible-red);
        }
        &__close-icon {
            margin-left: spacing(2);
        }
    }
}
