.btn {
  display: inline-block;
  appearance: none;
  font-family: $main-font;
  border: 1px solid black;
  background: black;
  color: white;
  margin: 10px 10px 10px 0;
  padding: 10px 20px;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
  &--danger {
    background-color: $accessible-red;
    border: 1px solid $accessible-red;
  }
}
