.input {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    appearance: none;
    border-radius: 0;
    &[aria-invalid="true"] {
        border-bottom: 1px solid red;
        + .input__error-msg {
            display: block;
        }
        ~ .input__helper-text {
            display: none;
        }
    }
    &__error-msg {
        color: red;
        display: none;
    }
}
.label {
    position: relative;
    top: 100%;
    font-family: $main-font;
    padding: 10px 0;
    display: block;
    &--floating {
        position: absolute;
        transition: top 0.3s ease-in-out;
        &.sink {
            top: 100%;
        }
        &.float {
            top: 0;
        }
    }
}
