$main-font: "Barlow", sans-serif;
$body-font: "Manrope", sans-serif;
// Colors
$accessible-red: #cd2026;
$accent-main: #2c7f8c;

$outer-margin: 4vw;
$gutter-width: 20px;
$gutter-compensation: ($gutter-width * 0.5) * -1;
$half-gutter-width: $gutter-width * 0.5;
$xxl: 1920px;
$xl: 1200px;
$lg: 996px;
$md: 768px;
$sm: 544px;
$xs: 420px;
$core: 920px;
$columns: 12;
