//
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import "normalize";
@import "variables";
@import "./mixins/queries";
@import "./mixins/spacing";
@import "./mixins/hover"; 
@import "grid";
@import "typography";

@import "./components";
@import "forms";
@import "btn";
@import "lists";

@import "nav";

* {
    box-sizing: border-box;
}
main {
    padding-bottom: 100px;
}

.content__row {
    margin-top: spacing(10);
    &:first-child {
        margin-top: spacing(5);
    }
}
