//
@import "normalize";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Manrope&display=swap");
@import "variables";
@import "typography";

@import "forms";
@import "btn";
@import "lists";

@import "nav";
a {
    text-decoration: none;
    color: black;
    display: inline-block;
}
li a {
    border: 0;
}
.container {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    &--inner {
        max-width: 70%;
    }
}

h1 {
    text-align: center;
}

main {
    padding-bottom: 100px;
}
