//
@import "normalize";
@import "variables";
@import "./mixins/queries";
@import "./mixins/spacing";
@import "./mixins/hover";
@import "grid";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Manrope&display=swap");
@import "typography";

@import "forms";
@import "btn";
@import "lists";

@import "nav";

main {
    padding-bottom: 100px;
}

.content__row {
    margin-top: spacing(10);
    &:first-child {
        margin-top: spacing(5);
    }
}
