@mixin hover($color) {
    position: relative;
    transition: color 0.3s ease-in-out;
    background: transparent;
    &::after {
        transition: height 0.3s ease-in-out;
        content: "";
        background: $color;
        bottom: 0;
        left: 0;
        height: 0px;
        width: 100%;
        display: block;
        position: absolute;
        z-index: -1;
    }
    &:hover {
        color: white;
        &::after {
            height: 100%;
        }
    }
}
